OPC/OPC/OPC UA WSDL 1.00.125/Opc.Ua.Endpoints.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions 
  name="SessionEndpoint" 
  targetNamespace="http://opcfoundation.org/UA/SessionEndpoint/" 
  xmlns:tns="http://opcfoundation.org/UA/SessionEndpoint/" 
  xmlns:s0="http://opcfoundation.org/UA/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
>
  <wsdl:import namespace="http://opcfoundation.org/UA/" location="http://localhost/UA/Opc.Ua.Services.wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ISessionEndpoint" type="s0:ISessionEndpoint">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="InvokeService">
      <soap12:operation soapAction="http://opcfoundation.org/UA/InvokeService" style="document"/>
      <wsdl:input name="InvokeServiceMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="InvokeServiceResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="TestStack">
      <soap12:operation soapAction="http://opcfoundation.org/UA/TestStack" style="document"/>
      <wsdl:input name="TestStackMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TestStackResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="TestStackEx">
      <soap12:operation soapAction="http://opcfoundation.org/UA/TestStackEx" style="document"/>
      <wsdl:input name="TestStackExMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TestStackExResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CreateSession">
      <soap12:operation soapAction="http://opcfoundation.org/UA/CreateSession" style="document"/>
      <wsdl:input name="CreateSessionMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateSessionResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ActivateSession">
      <soap12:operation soapAction="http://opcfoundation.org/UA/ActivateSession" style="document"/>
      <wsdl:input name="ActivateSessionMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ActivateSessionResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CloseSession">
      <soap12:operation soapAction="http://opcfoundation.org/UA/CloseSession" style="document"/>
      <wsdl:input name="CloseSessionMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CloseSessionResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Cancel">
      <soap12:operation soapAction="http://opcfoundation.org/UA/Cancel" style="document"/>
      <wsdl:input name="CancelMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CancelResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddNodes">
      <soap12:operation soapAction="http://opcfoundation.org/UA/AddNodes" style="document"/>
      <wsdl:input name="AddNodesMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddNodesResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddReferences">
      <soap12:operation soapAction="http://opcfoundation.org/UA/AddReferences" style="document"/>
      <wsdl:input name="AddReferencesMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddReferencesResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteNodes">
      <soap12:operation soapAction="http://opcfoundation.org/UA/DeleteNodes" style="document"/>
      <wsdl:input name="DeleteNodesMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteNodesResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteReferences">
      <soap12:operation soapAction="http://opcfoundation.org/UA/DeleteReferences" style="document"/>
      <wsdl:input name="DeleteReferencesMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteReferencesResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="BrowseProperties">
      <soap12:operation soapAction="http://opcfoundation.org/UA/BrowseProperties" style="document"/>
      <wsdl:input name="BrowsePropertiesMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="BrowsePropertiesResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Browse">
      <soap12:operation soapAction="http://opcfoundation.org/UA/Browse" style="document"/>
      <wsdl:input name="BrowseMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="BrowseResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="BrowseNext">
      <soap12:operation soapAction="http://opcfoundation.org/UA/BrowseNext" style="document"/>
      <wsdl:input name="BrowseNextMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="BrowseNextResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="TranslateBrowsePathsToNodeIds">
      <soap12:operation soapAction="http://opcfoundation.org/UA/TranslateBrowsePathsToNodeIds" style="document"/>
      <wsdl:input name="TranslateBrowsePathsToNodeIdsMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TranslateBrowsePathsToNodeIdsResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="QueryFirst">
      <soap12:operation soapAction="http://opcfoundation.org/UA/QueryFirst" style="document"/>
      <wsdl:input name="QueryFirstMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="QueryFirstResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="QueryNext">
      <soap12:operation soapAction="http://opcfoundation.org/UA/QueryNext" style="document"/>
      <wsdl:input name="QueryNextMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="QueryNextResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://opcfoundation.org/UA/Read" style="document"/>
      <wsdl:input name="ReadMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ReadResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="HistoryRead">
      <soap12:operation soapAction="http://opcfoundation.org/UA/HistoryRead" style="document"/>
      <wsdl:input name="HistoryReadMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HistoryReadResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Write">
      <soap12:operation soapAction="http://opcfoundation.org/UA/Write" style="document"/>
      <wsdl:input name="WriteMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="WriteResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="HistoryUpdate">
      <soap12:operation soapAction="http://opcfoundation.org/UA/HistoryUpdate" style="document"/>
      <wsdl:input name="HistoryUpdateMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HistoryUpdateResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Call">
      <soap12:operation soapAction="http://opcfoundation.org/UA/Call" style="document"/>
      <wsdl:input name="CallMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CallResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CreateMonitoredItems">
      <soap12:operation soapAction="http://opcfoundation.org/UA/CreateMonitoredItems" style="document"/>
      <wsdl:input name="CreateMonitoredItemsMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateMonitoredItemsResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ModifyMonitoredItems">
      <soap12:operation soapAction="http://opcfoundation.org/UA/ModifyMonitoredItems" style="document"/>
      <wsdl:input name="ModifyMonitoredItemsMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ModifyMonitoredItemsResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetMonitoringMode">
      <soap12:operation soapAction="http://opcfoundation.org/UA/SetMonitoringMode" style="document"/>
      <wsdl:input name="SetMonitoringModeMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetMonitoringModeResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetTriggering">
      <soap12:operation soapAction="http://opcfoundation.org/UA/SetTriggering" style="document"/>
      <wsdl:input name="SetTriggeringMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetTriggeringResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteMonitoredItems">
      <soap12:operation soapAction="http://opcfoundation.org/UA/DeleteMonitoredItems" style="document"/>
      <wsdl:input name="DeleteMonitoredItemsMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteMonitoredItemsResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CreateSubscription">
      <soap12:operation soapAction="http://opcfoundation.org/UA/CreateSubscription" style="document"/>
      <wsdl:input name="CreateSubscriptionMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateSubscriptionResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ModifySubscription">
      <soap12:operation soapAction="http://opcfoundation.org/UA/ModifySubscription" style="document"/>
      <wsdl:input name="ModifySubscriptionMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ModifySubscriptionResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetPublishingMode">
      <soap12:operation soapAction="http://opcfoundation.org/UA/SetPublishingMode" style="document"/>
      <wsdl:input name="SetPublishingModeMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetPublishingModeResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Publish">
      <soap12:operation soapAction="http://opcfoundation.org/UA/Publish" style="document"/>
      <wsdl:input name="PublishMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PublishResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Republish">
      <soap12:operation soapAction="http://opcfoundation.org/UA/Republish" style="document"/>
      <wsdl:input name="RepublishMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RepublishResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="TransferSubscriptions">
      <soap12:operation soapAction="http://opcfoundation.org/UA/TransferSubscriptions" style="document"/>
      <wsdl:input name="TransferSubscriptionsMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TransferSubscriptionsResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteSubscriptions">
      <soap12:operation soapAction="http://opcfoundation.org/UA/DeleteSubscriptions" style="document"/>
      <wsdl:input name="DeleteSubscriptionsMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteSubscriptionsResponseMessage">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>
  
  <wsdl:service name="SessionEndpoint">
    <wsdl:port name="BasicHttpBinding_ISessionEndpoint" binding="tns:BasicHttpBinding_ISessionEndpoint">
      <soap12:address location="http://localhost/UATestService/Service.svc"/>
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/UATestService/Service.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>